# ==========================================
# Variables de Entorno - DuocAI MVP
# ==========================================

# 1. Configuración de Base de Datos Vectorial (MongoDB Atlas)
MONGO_URI="tu_cadena_de_conexion_de_mongodb_aqui"

# 2. Configuración de Inferencia (GitHub Models / GPT-4o)
GITHUB_TOKEN="tu_token_clasico_de_github_aqui"

# 3. Configuración de Observabilidad (LangSmith)
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="tu_api_key_de_langchain_aqui"
LANGCHAIN_PROJECT="DuocAI_Proyecto"
