# Entornos virtuales
venv/
env/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de variables de entorno (¡CRÍTICO: NUNCA SUBIR EL REAL!)
.env

# Archivos de sistema operativo local
.DS_Store
Thumbs.db

# Carpetas de metadatos de VS Code
.vscode/